@import '~bootstrap/dist/css/bootstrap.min.css';



.log mat-card {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    color: rgb(193, 18, 18);

    background-color: antiquewhite;
    width: 100%;
}